.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-banner {
  width: 100%;
  height: 43px;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
  background-color: var(--dl-color-gray-black);
}
.home-hero {
  width: 100%;
  height: 632px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  background-color: #e9e9c2;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 10px;
}
.home-main {
  gap: var(--dl-space-space-fiveunits);
  width: 2082px;
  height: 693px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-threeunits);
  flex-direction: row;
}
.home-content {
  gap: var(--dl-space-space-fiveunits);
  width: 586px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.home-container01 {
  display: flex;
  position: relative;
}
.home-navbar-interactive {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.home-desktop-menu {
  width: 100%;
  height: 72px;
  display: flex;
}
.home-link {
  width: auto;
  display: flex;
  border-width: 0px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  text-decoration: none;
  background-color: transparent;
}
.home-text {
  text-align: justify;
  text-transform: capitalize;
}
.home-button {
  width: auto;
  display: flex;
  border-width: 0px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  text-decoration: none;
  background-color: transparent;
}
.home-link01 {
  width: auto;
  display: flex;
  border-width: 0px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  text-decoration: none;
  background-color: transparent;
}
.home-link02 {
  width: auto;
  display: flex;
  border-width: 0px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  text-decoration: none;
  background-color: transparent;
}
.home-text003 {
  text-align: justify;
  text-transform: capitalize;
}
.home-link03 {
  width: auto;
  display: flex;
  border-width: 0px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  text-decoration: none;
  background-color: transparent;
}
.home-text004 {
  text-align: justify;
  text-transform: capitalize;
}
.home-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-links {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  flex-direction: column;
}
.home-link04 {
  text-decoration: none;
}
.home-link05 {
  text-decoration: none;
}
.home-link06 {
  text-decoration: none;
}
.home-link07 {
  text-decoration: none;
}
.home-icon-group {
  display: flex;
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-hero-section {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
}
.home-header {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading {
  color: rgb(34, 34, 35);
  font-size: 70px;
  font-style: normal;
  font-family: Lora;
  font-weight: 500;
  line-height: 91px;
}
.home-caption {
  color: rgb(34, 34, 35);
  font-size: 20px;
  line-height: 30px;
}
.home-buttons {
  gap: var(--dl-space-space-unit);
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-image {
  width: 445px;
  height: 527px;
  display: flex;
  overflow: hidden;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: #000000;
  border-style: solid;
  border-width: 5px;
  margin-right: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("https://play.teleporthq.io/static/svg/placeholders/no-image.svg");
}
.home-image1 {
  width: 457px;
  height: 541px;
  object-fit: cover;
}
.home-details-container {
  width: 100%;
  display: none;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  background-color: #79D490;
}
.home-details {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fourunits);
}
.home-category {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-image2 {
  width: 32px;
  object-fit: cover;
}
.home-text005 {
  max-width: 282px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.home-category1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-image3 {
  width: 32px;
  object-fit: cover;
}
.home-text006 {
  max-width: 282px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.home-category2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-image4 {
  width: 32px;
  object-fit: cover;
}
.home-text007 {
  max-width: 282px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.home-container03 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 1763px;
  display: none;
  align-items: flex-start;
  justify-content: center;
}
.home-container04 {
  width: 100%;
  height: 1792px;
  display: flex;
  align-items: flex-start;
  background-size: cover;
  justify-content: center;
  background-image: url("public/photo-id-2001814061125-startup-team-working-and-planning-in-the-meeting-1800h.webp");
  background-position: center;
}
.home-content1 {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 1;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: 170px;
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: center;
  background-color: #e9e9c2;
  border-left-width: 10px;
  border-right-width: 10px;
}
.home-container05 {
  width: 1049px;
  height: 185px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-section {
  gap: var(--dl-space-space-oneandhalfunits);
  height: 168px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-container06 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.home-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}
.home-container08 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container09 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container10 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container11 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: relative;
}
.home-container12 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: relative;
}
.home-container13 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: relative;
}
.home-text008 {
  text-align: center;
}
.home-steps-list {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 1068px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-container14 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-container15 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-container16 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-container17 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container18 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-container19 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-section1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 1058px;
  height: 123px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-number {
  position: relative;
  background-color: #000000;
}
.home-container20 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.home-container21 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container22 {
  display: flex;
  position: relative;
}
.home-caption1 {
  font-size: 24px;
  font-style: normal;
  text-align: left;
  font-family: Lora;
  font-weight: 700;
  text-transform: capitalize;
}
.home-text010 {
  width: 945px;
  font-size: 17px;
  text-align: justify;
  border-width: 0px;
  background-color: transparent;
}
.home-section2 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 1058px;
  height: 210px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-number1 {
  position: relative;
  background-color: #555559;
}
.home-container23 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.home-container24 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container25 {
  display: flex;
  position: relative;
}
.home-caption2 {
  font-size: 24px;
  font-style: normal;
  text-align: left;
  font-family: Lora;
  font-weight: 700;
  text-transform: capitalize;
}
.home-text012 {
  width: 945px;
  font-size: 17px;
  text-align: justify;
  border-width: 0px;
  background-color: transparent;
}
.home-section3 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 1058px;
  height: 188px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-number2 {
  position: relative;
  background-color: #000000;
}
.home-container26 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.home-container27 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container28 {
  display: flex;
  position: relative;
}
.home-caption3 {
  font-size: 24px;
  font-style: normal;
  text-align: left;
  font-family: Lora;
  font-weight: 700;
  text-transform: capitalize;
}
.home-text014 {
  width: 945px;
  font-size: 17px;
  text-align: justify;
  border-width: 0px;
  background-color: transparent;
}
.home-section4 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 1058px;
  height: 220px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-number3 {
  position: relative;
  background-color: #555559;
}
.home-container29 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.home-container30 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container31 {
  display: flex;
  position: relative;
}
.home-caption4 {
  font-size: 24px;
  font-style: normal;
  text-align: left;
  font-family: Lora;
  font-weight: 700;
  text-transform: capitalize;
}
.home-text021 {
  width: 945px;
  font-size: 17px;
  text-align: justify;
  border-width: 0px;
  background-color: transparent;
}
.home-section5 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 1058px;
  height: 176px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-number4 {
  position: relative;
  background-color: var(--dl-color-gray-black);
}
.home-container32 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.home-container33 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container34 {
  display: flex;
  position: relative;
}
.home-caption5 {
  font-size: 24px;
  font-style: normal;
  text-align: left;
  font-family: Lora;
  font-weight: 700;
  text-transform: capitalize;
}
.home-text023 {
  width: 945px;
  font-size: 17px;
  text-align: justify;
  border-width: 0px;
  background-color: transparent;
}
.home-section6 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 1058px;
  height: 207px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-number5 {
  position: relative;
  background-color: #555559;
}
.home-container35 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.home-container36 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container37 {
  display: flex;
  position: relative;
}
.home-caption6 {
  font-size: 24px;
  font-style: normal;
  text-align: left;
  font-family: Lora;
  font-weight: 700;
  text-transform: capitalize;
}
.home-text025 {
  width: 945px;
  font-size: 17px;
  text-align: justify;
  border-width: 0px;
  background-color: transparent;
}
.home-section7 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 1058px;
  height: 224px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-number6 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  position: relative;
  background-color: #000000;
}
.home-container38 {
  display: flex;
  position: relative;
}
.home-text026 {
  color: #ffffff;
}
.home-container39 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.home-container40 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container41 {
  display: flex;
  position: relative;
}
.home-caption7 {
  font-size: 24px;
  font-style: normal;
  text-align: left;
  font-family: Lora;
  font-weight: 700;
  text-transform: capitalize;
}
.home-text027 {
  width: 945px;
  font-size: 17px;
  text-align: justify;
  border-width: 0px;
  background-color: transparent;
}
.home-quote-one {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: 1400px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  background-color: #e9e9c2;
  border-top-width: 10px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-container42 {
  width: 1400px;
  height: 1308px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #e9e9c2;
}
.home-container43 {
  width: 1387px;
  height: 192px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text028 {
  text-align: center;
}
.home-container44 {
  width: 1392px;
  height: 1111px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-heading1 {
  width: 1040px;
  height: 1071px;
}
.home-text029 {
  font-size: 1.5em;
  text-transform: uppercase;
  text-decoration: underline;
}
.home-text030 {
  font-size: 1.34em;
}
.home-text031 {
  font-size: 1.34em;
}
.home-text032 {
  font-size: 1.34em;
}
.home-text033 {
  font-size: 1.34em;
}
.home-text034 {
  font-size: 1.34em;
}
.home-text035 {
  font-size: 1.34em;
}
.home-text036 {
  font-size: 1.34em;
}
.home-text037 {
  font-size: 1.34em;
}
.home-text038 {
  font-size: 1.34em;
}
.home-text039 {
  font-size: 1.34em;
}
.home-text040 {
  font-size: 1.34em;
}
.home-text041 {
  font-size: 1.34em;
}
.home-text042 {
  font-size: 1.34em;
}
.home-text043 {
  font-size: 1.34em;
}
.home-text044 {
  font-size: 1.34em;
}
.home-text045 {
  font-size: 1.34em;
}
.home-text046 {
  font-size: 1.34em;
}
.home-text047 {
  font-size: 1.34em;
}
.home-text048 {
  font-size: 1.34em;
}
.home-text049 {
  font-size: 1.34em;
}
.home-text050 {
  font-size: 1.34em;
}
.home-text051 {
  font-size: 1.34em;
  text-transform: uppercase;
  text-decoration: underline;
}
.home-text052 {
  font-size: 1.34em;
  text-transform: uppercase;
  text-decoration: underline;
}
.home-text053 {
  font-size: 1.34em;
}
.home-text054 {
  font-size: 1.34em;
}
.home-text055 {
  font-size: 1.34em;
}
.home-text056 {
  font-size: 1.34em;
}
.home-text057 {
  font-size: 1.34em;
}
.home-text058 {
  font-size: 1.34em;
}
.home-text059 {
  font-size: 1.34em;
}
.home-text060 {
  font-size: 1.34em;
  text-transform: uppercase;
  text-decoration: underline;
}
.home-text061 {
  font-size: 1.34em;
  text-transform: uppercase;
  text-decoration: underline;
}
.home-text062 {
  font-size: 1.34em;
}
.home-text063 {
  font-size: 1.34em;
}
.home-text064 {
  font-size: 1.34em;
}
.home-text065 {
  font-size: 1.34em;
}
.home-text066 {
  font-size: 1.34em;
}
.home-text067 {
  font-size: 1.34em;
}
.home-text068 {
  font-size: 1.34em;
}
.home-text069 {
  font-size: 1.34em;
}
.home-text070 {
  font-size: 1.34em;
}
.home-text071 {
  font-size: 1.34em;
}
.home-text072 {
  font-size: 1.34em;
}
.home-text073 {
  font-size: 1.34em;
}
.home-text074 {
  font-size: 1.34em;
}
.home-text075 {
  font-size: 1.34em;
}
.home-text076 {
  font-size: 1.34em;
}
.home-text077 {
  font-size: 1.34em;
}
.home-text078 {
  font-size: 1.34em;
  text-transform: uppercase;
  text-decoration: underline;
}
.home-text079 {
  font-size: 1.34em;
}
.home-text080 {
  font-size: 1.34em;
}
.home-text081 {
  font-size: 1.34em;
}
.home-text082 {
  font-size: 1.34em;
}
.home-text083 {
  font-size: 1.34em;
}
.home-text084 {
  font-size: 1.34em;
}
.home-text085 {
  font-size: 1.34em;
}
.home-text086 {
  font-size: 1.34em;
}
.home-text087 {
  font-size: 1.34em;
}
.home-text088 {
  font-size: 1.34em;
}
.home-text089 {
  font-size: 1.34em;
}
.home-text090 {
  font-size: 1.34em;
}
.home-text091 {
  font-size: 1.34em;
}
.home-text092 {
  font-size: 1.34em;
}
.home-text093 {
  font-size: 1.34em;
}
.home-text094 {
  font-size: 1.34em;
}
.home-text095 {
  font-size: 1.34em;
}
.home-text096 {
  font-size: 1.34em;
  text-transform: uppercase;
  text-decoration: underline;
}
.home-text097 {
  font-size: 1.34em;
  text-transform: uppercase;
  text-decoration: underline;
}
.home-text098 {
  font-size: 1.34em;
}
.home-text099 {
  font-size: 1.34em;
}
.home-text100 {
  font-size: 1.34em;
}
.home-text101 {
  font-size: 1.34em;
}
.home-text102 {
  font-size: 1.34em;
}
.home-text103 {
  font-size: 1.34em;
}
.home-text104 {
  font-size: 1.34em;
}
.home-text105 {
  font-size: 1.34em;
}
.home-text106 {
  font-size: 1.34em;
}
.home-text107 {
  font-size: 1.34em;
}
.home-quote-one1 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: 781px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: 38px;
  justify-content: center;
  background-color: #555559;
}
.home-container45 {
  width: 1387px;
  height: 119px;
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 2px;
  flex-direction: column;
  justify-content: center;
}
.home-text111 {
  color: #ffffff;
  text-align: center;
}
.home-testimonial-card {
  width: 990px;
  height: 345px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  justify-content: space-between;
}
.home-testimonial {
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: space-between;
}
.home-icon10 {
  width: var(--dl-size-size-small);
  flex-shrink: 0;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text112 {
  color: var(--dl-color-gray-500);
  font-size: 1.15rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text113 {
  font-size: 1.5rem;
  font-weight: 600;
}
.home-image5 {
  width: var(--dl-size-size-xlarge);
  height: var(--dl-size-size-xlarge);
  object-fit: cover;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-round);
}
.home-footer {
  width: 100%;
  height: 462px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.home-top {
  gap: var(--dl-space-space-threeunits);
  width: 887px;
  height: 212px;
  display: flex;
  max-width: 640px;
  align-items: center;
  border-color: #ffffff;
  border-style: dashed;
  flex-direction: column;
  justify-content: center;
  border-bottom-width: 1px;
}
.home-link08 {
  color: #ffffff;
  width: auto;
  font-size: 24px;
  text-decoration: none;
}
.home-link09 {
  color: #ffffff;
  width: auto;
  font-size: 24px;
  text-decoration: none;
}
.home-bottom {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #ffffff;
  border-style: dashed;
  flex-direction: column;
  justify-content: center;
  border-top-width: 1px;
}
.home-copyright {
  color: rgba(255, 255, 255, 0.3);
  width: 100%;
  font-size: 12px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  line-height: 18px;
}
.home-slider {
  display: contents;
}
@media(max-width: 991px) {
  .home-main {
    gap: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-threeunits);
  }
  .home-navbar-interactive {
    gap: 0;
    justify-content: space-between;
  }
  .home-heading {
    font-size: 36px;
    line-height: 46px;
  }
  .home-caption {
    font-size: 16px;
    line-height: 24px;
  }
  .home-buttons {
    flex-direction: column;
  }
  .home-details {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-category {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-category1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-category2 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-content1 {
    gap: var(--dl-space-space-fourunits);
    align-items: flex-start;
    padding-top: var(--dl-space-space-sixunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: flex-start;
  }
  .home-container05 {
    width: 843px;
  }
  .home-quote-one {
    padding-top: var(--dl-space-space-sixunits);
    padding-bottom: var(--dl-space-space-sixunits);
  }
  .home-container44 {
    width: 843px;
  }
  .home-quote-one1 {
    padding-top: var(--dl-space-space-sixunits);
    padding-bottom: var(--dl-space-space-sixunits);
  }
  .home-footer {
    width: 100%;
    padding-top: var(--dl-space-space-sixunits);
  }
}
@media(max-width: 767px) {
  .home-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-main {
    gap: var(--dl-space-space-threeunits);
    height: 800px;
    position: relative;
    padding-left: 0px;
    flex-direction: column;
  }
  .home-content {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-navbar-interactive {
    gap: 0;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .home-desktop-menu {
    display: none;
  }
  .home-burger-menu {
    display: flex;
  }
  .home-image {
    width: 100%;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-position: center;
  }
  .home-details {
    gap: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-category {
    gap: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-text005 {
    max-width: 100%;
  }
  .home-category1 {
    gap: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-text006 {
    max-width: 100%;
  }
  .home-category2 {
    gap: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-text007 {
    max-width: 100%;
  }
  .home-content1 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-steps-list {
    flex-direction: column;
  }
  .home-testimonial-card {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-testimonial {
    margin-right: var(--dl-space-space-twounits);
  }
  .home-icon10 {
    height: var(--dl-size-size-small);
  }
  .home-footer {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .home-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-content {
    gap: var(--dl-space-space-threeunits);
  }
  .home-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-content1 {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-number {
    width: 40px;
    height: 40px;
  }
  .home-text009 {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
  }
  .home-caption1 {
    font-size: 16px;
    line-height: 40px;
  }
  .home-number1 {
    width: 40px;
    height: 40px;
  }
  .home-text011 {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
  }
  .home-caption2 {
    font-size: 16px;
    line-height: 40px;
  }
  .home-number2 {
    width: 40px;
    height: 40px;
  }
  .home-text013 {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
  }
  .home-caption3 {
    font-size: 16px;
    line-height: 40px;
  }
  .home-number3 {
    width: 40px;
    height: 40px;
  }
  .home-text020 {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
  }
  .home-caption4 {
    font-size: 16px;
    line-height: 40px;
  }
  .home-number4 {
    width: 40px;
    height: 40px;
  }
  .home-text022 {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
  }
  .home-caption5 {
    font-size: 16px;
    line-height: 40px;
  }
  .home-number5 {
    width: 40px;
    height: 40px;
  }
  .home-text024 {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
  }
  .home-caption6 {
    font-size: 16px;
    line-height: 40px;
  }
  .home-number6 {
    width: 40px;
    height: 40px;
  }
  .home-text026 {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
  }
  .home-caption7 {
    font-size: 16px;
    line-height: 40px;
  }
  .home-quote-one {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-quote-one1 {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-testimonial-card {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-testimonial {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text112 {
    text-align: left;
  }
  .home-footer {
    padding-top: var(--dl-space-space-threeunits);
  }
  .home-bottom {
    padding-top: var(--dl-space-space-oneandhalfunits);
  }
  .home-copyright {
    font-size: 10px;
    line-height: 15px;
  }
}
