.component5-container {
  display: flex;
  position: relative;
}
.component5-text {
  color: #000000;
}
@media(max-width: 479px) {
  .component5-text {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
  }
}
