<div>
  <link href="./component.css" rel="stylesheet" />
  <div class="component-container">
    <span class="component-text">
      <span>
        Directed comprehensive marketing endeavors for the prestigious 6th
        Edition of technoVIT, an esteemed international-level technical festival
        at VIT Chennai.
      </span>
      <br />
      <span>
        Orchestrated dynamic promotional strategies to enhance engagement in
      </span>
      <br />
      <span>
        interactive workshops, practical training sessions, games, competitions,
        and technical events. Pioneered collaboration
      </span>
      <br />
      <span>
        across diverse university schools to amplify the festival&apos;s impact,
        fostering
      </span>
      <br />
      <span>
        professional development and nurturing essential qualities in students.
      </span>
    </span>
  </div>
</div>
