<div>
  <link href="./component1.css" rel="stylesheet" />
  <div class="component1-container">
    <div class="component1-container1">
      <div class="component1-container2">
        <div class="component1-container3">
          <div class="component1-container4">
            <div class="component1-container5">
              <span class="component1-caption">
                <span>
                  Head of Marketing, School of Social Sciences and Languages,
                  TechnoVIT Chennai
                </span>
              </span>
            </div>
            <div class="component1-container6"></div>
          </div>
        </div>
      </div>
      <div class="caption1-container caption1-root-class-name">
        <span class="caption1-caption">
          <span>
            Head of Marketing, School of Social Sciences and Languages,
            TechnoVIT Chennai
          </span>
        </span>
      </div>
    </div>
    <div class="component1-container7">
      <span class="component1-text textarea">
        <span>
          Directed comprehensive marketing endeavors for the prestigious 6th
          Edition of technoVIT, an esteemed international-level technical
          festival at VIT Chennai.
        </span>
        <br />
        <span>
          Orchestrated dynamic promotional strategies to enhance engagement in
        </span>
        <br />
        <span>
          interactive workshops, practical training sessions, games,
          competitions, and technical events. Pioneered collaboration
        </span>
        <br />
        <span>
          across diverse university schools to amplify the festival&apos;s
          impact, fostering
        </span>
        <br />
        <span>
          professional development and nurturing essential qualities in
          students.
        </span>
      </span>
    </div>
  </div>
</div>
