<div>
  <link href="./component3.css" rel="stylesheet" />
  <div class="component3-container">
    <h5 class="component3-text textarea">
      <span>
        Earned certification for completing the Google Cloud Computing
        Foundations Program in collaboration with VIT and Google. Acquired
        fundamental knowledge of cloud computing principles and Google Cloud
        Platform tools. Equipped with essential skills to deploy and manage
        applications, enhancing my proficiency in modern cloud technologies.
      </span>
    </h5>
  </div>
</div>
