<div>
  <link href="./component21.css" rel="stylesheet" />
  <div class="component21-container">
    <div class="component21-container1">
      <div class="caption11-container caption11-root-class-name1">
        <span class="caption11-caption">
          <span>Sponsorship Executive, Hack Club VIT Chennai</span>
        </span>
      </div>
      <h5 class="component21-text textarea">
        Drove sponsorship initiatives at Hack Club VIT Chennai, playing a
        pivotal role in facilitating the club&apos;s mission of fostering
        innovation and technical prowess. Effectively managed sponsor
        relationships and collaborated cross-functionally to deliver impactful
        events, workshops, and programs. Contributed to the dynamic growth of
        the club by strategically engaging partners and sponsors.
      </h5>
    </div>
  </div>
</div>
