<div>
  <link href="./content.css" rel="stylesheet" />
  <div class="content-content">
    <div class="content-container">
      <div class="content-section">
        <div class="content-container01">
          <div class="content-container02">
            <div class="content-container03">
              <div class="content-container04">
                <div class="content-container05">
                  <div class="content-container06"></div>
                  <div class="content-container07"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="content-container08"></div>
        </div>
      </div>
      <h1 class="content-text"><span>• Experience •</span></h1>
    </div>
    <div class="content-steps-list">
      <div class="content-list">
        <div class="content-container09">
          <div class="content-container10"></div>
        </div>
        <div class="content-container11">
          <div class="content-container12">
            <div class="content-container13"></div>
          </div>
        </div>
        <div class="content-container14"></div>
        <div class="content-section1">
          <div class="number-number number number-root-class-name4">
            <span class="number-text"><span>1</span></span>
          </div>
          <div class="content-container15">
            <div class="content-container16">
              <div class="content-container17">
                <span class="content-caption">
                  <span>Google Cloud Computing Foundations Program</span>
                </span>
              </div>
              <h5 class="content-text01 textarea">
                Earned certification for completing the Google Cloud Computing
                Foundations Program in collaboration with VIT and Google.
                Acquired fundamental knowledge of cloud computing principles and
                Google Cloud Platform tools. Equipped with essential skills to
                deploy and manage applications, enhancing my proficiency in
                modern cloud technologies.
              </h5>
            </div>
          </div>
        </div>
        <div class="content-section2">
          <div class="number-number number number-root-class-name9">
            <span class="number-text"><span>2</span></span>
          </div>
          <div class="content-container18">
            <div class="content-container19">
              <div class="content-container20">
                <span class="content-caption1">
                  <span>
                    Head of Marketing, School of Social Sciences and Languages,
                    TechnoVIT Chennai
                  </span>
                </span>
              </div>
              <h5 class="content-text02 textarea">
                <span>
                  Directed comprehensive marketing endeavors for the prestigious
                  6th Edition of technoVIT, an esteemed international-level
                  technical festival at VIT Chennai. 
                </span>
                <span>
                  Orchestrated dynamic promotional strategies to enhance
                  engagement in 
                </span>
                <span>
                  interactive workshops, practical training sessions, games,
                  competitions, and technical events. Pioneered collaboration 
                </span>
                <span>
                  across diverse university schools to amplify the
                  festival&apos;s impact, fostering 
                </span>
                <span>
                  professional development and nurturing essential qualities in
                  students.
                </span>
              </h5>
            </div>
          </div>
        </div>
        <div class="content-section3">
          <div class="number-number number number-root-class-name8">
            <span class="number-text"><span>3</span></span>
          </div>
          <div class="content-container21">
            <div class="content-container22">
              <div class="content-container23">
                <span class="content-caption2">
                  <span>
                    Head of Marketing, School of Social Sciences and Languages,
                    TechnoVIT Chennai
                  </span>
                </span>
              </div>
              <h5 class="content-text08 textarea">
                <span>
                  Directed comprehensive marketing endeavors for the prestigious
                  6th Edition of technoVIT, an esteemed international-level
                  technical festival at VIT Chennai. 
                </span>
                <span>
                  Orchestrated dynamic promotional strategies to enhance
                  engagement in 
                </span>
                <span>
                  interactive workshops, practical training sessions, games,
                  competitions, and technical events. Pioneered collaboration 
                </span>
                <span>
                  across diverse university schools to amplify the
                  festival&apos;s impact, fostering 
                </span>
                <span>
                  professional development and nurturing essential qualities in
                  students.
                </span>
              </h5>
            </div>
          </div>
        </div>
        <div class="content-section4">
          <div class="number-number number number-root-class-name6">
            <span class="number-text"><span>4</span></span>
          </div>
          <div class="content-container24">
            <div class="content-container25">
              <div class="content-container26">
                <span class="content-caption3">
                  <span>Duis aute irure dolor in reprehenderit</span>
                </span>
              </div>
              <h5 class="content-text14 textarea">
                Drove sponsorship initiatives at Hack Club VIT Chennai, playing
                a pivotal role in facilitating the club&apos;s mission of
                fostering innovation and technical prowess. Effectively managed
                sponsor relationships and collaborated cross-functionally to
                deliver impactful events, workshops, and programs. Contributed
                to the dynamic growth of the club by strategically engaging
                partners and sponsors.
              </h5>
            </div>
          </div>
        </div>
        <div class="content-section5">
          <div class="number-number number number-root-class-name3">
            <span class="number-text"><span>5</span></span>
          </div>
          <div class="content-container27">
            <div class="content-container28">
              <div class="content-container29">
                <span class="content-caption4">
                  <span>Marketing Team Member, The Biosphere Club</span>
                </span>
              </div>
              <h5 class="content-text15 textarea">
                Served as an integral member of The Biosphere Club&apos;s
                marketing team, contributing to the success of a diverse range
                of initiatives. Collaborated closely with team members to
                develop and execute targeted marketing campaigns, enhancing the
                club&apos;s presence and outreach. Played a crucial role in
                promoting the club&apos;s objectives and driving engagement
                through creative and strategic marketing efforts.
              </h5>
            </div>
          </div>
        </div>
        <div class="content-section6">
          <div class="number-number number number-root-class-name5">
            <span class="number-text"><span>6</span></span>
          </div>
          <div class="content-container30">
            <div class="content-container31">
              <div class="content-container32">
                <span class="content-caption5">
                  <span>
                    Customer Relations Assistant Manager (Internship), EduScope
                  </span>
                </span>
              </div>
              <h5 class="content-text16 textarea">
                Interned at EduScope, a transformative career counseling
                platform, where I assumed the role of a Customer Relations
                Assistant Manager. Engaged in meaningful interactions with a
                broad spectrum of students and professionals, assisting in their
                journey towards informed career decisions. Gained insights into
                fostering a supportive community and contributing to the
                dissemination of vital guidance to empower individuals in their
                career pursuits.
              </h5>
            </div>
          </div>
        </div>
        <div class="content-section7">
          <div class="number-number number number-root-class-name7">
            <span class="number-text"><span>7</span></span>
          </div>
          <div class="content-container33">
            <div class="content-container34">
              <div class="content-container35">
                <span class="content-caption6">
                  <span>Video Editor (Part-time), YouTube</span>
                </span>
              </div>
              <h5 class="content-text17 textarea">
                During my tenure as a part-time Video Editor for YouTube, I
                undertook the responsibilities of refining visual content for
                emerging channels. Leveraged my proficiency in DaVinci software
                and 2D animations to enhance visual appeal and storytelling.
                Contributed to the channel&apos;s creative evolution, acquiring
                valuable experience in video editing techniques and augmenting
                my multimedia skill set.
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
